* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #f3f2ee;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: #0c66c2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

.header__images {
  position: relative;
  margin: 0 0 90px 0;
}

.header__background {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.header__photo {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 4px solid #fff;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -80px;
}

.header__text {
  padding: 0 30px;
  text-align: center;
}

.header__name {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

.header__profession {
  font-weight: 300;
}

.contacts {
  margin: 10px 0;
}

.contacts__content {
  display: flex;
  justify-content: space-between;
  padding: 12px 20% 10px;
}

.contacts__item {
  text-transform: uppercase;
}

.contacts:before {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  background: linear-gradient(90deg, #fff 38%, #0c66c2 150%);
}

.contacts:after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  background: linear-gradient(90deg, #0c66c2 -50%, #fff 62%);
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 20px;
  padding: 40px 40px 0;
}

.position {
  padding: 0 0 10px 0;
  font-style: italic;
}

.section__header {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 0 30px 0;
}

.section__subheader {
  display: flex;
  justify-content: space-between;
}

.section__list {
  padding: 0 0 0 10px;
}

.section__item:before {
  content: '— '
}

.experience__item:not(:last-child) {
  padding: 0 0 20px 0;
}

.footer {
  padding: 20px 0;
  margin-top: auto;
}

.footer__link {
  display: flex;
  justify-content: center;
}

.logo {
  width: 50px;
  margin: 0 10px;
}

